<h2 id="authorName">Author name goes here</h2>
<div id="userPic">
    <form action="/edit" method="PUT">
        <input type="text" name="author" />
        <br />
        <input type="text" name="url" />
        <br />
        <input type="text" name="description" />
        <br />
        <button>
            Confirm
        </button>
    </form>
</div>