<h2>Some header here</h2>
<div id="pictureBody">
    <form action="/gallery" method="POST">
        <input type="text" name="author" />
        <br />
        <input type="text" name="url" />
        <br />
        <input type="text" name="description" />
        <br />
        <button>
            Post pic
        </button>
    </form>
</div>