<h2 id="authorName">Author's name goes here</h2>
<div id="authorBio">Maybe bio goes here</div>
<div id="pictureBody">
    <div id="userRecentPic">User's most recent pic</div>
    <p id="userOtherPics">User's other pics</p>
</div>
<div id="backBtn"><Button><a href="/gallery">Back to gallery</a></Button></div>