<h2 id="username">Author's name goes here</h2>
<div id="authorBio">Maybe bio goes here</div>
<div id="pictureBody">
    <h1 id="userRecentPic">
        Most recent pic
        <br>
        <a href="/gallery/{{recent.id}}"><img src="{{recent.url}}"></a></h1>
    <p id="userOtherPics">User's other pics
        {{#each results}}
        <div id="otherPics">
            <a href="/gallery/{{id}}"><img src="{{url}}"></a>
        </div>
        {{/each}}
    </p>
</div>
<div id="backBtn"><Button><a href="/gallery">Back to gallery</a></Button></div>